@font-face {
  font-family: 'Pokemon Hollow';
  src: url(./fonts/Pokemon\ Hollow.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: block
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url(./fonts/Pokemon\ Solid.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: block
}

*, button {
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-image: url('https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png');
  background-size: cover;
  background-position: bottom;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  width: 100%;
  height: 200px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pokemon Hollow', sans-serif;
}

header svg {
  width: 400px;
  height: 200px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 200px 0 200px;
}

/* ================CONTENDER SECTION========================================================================== */
#contender-container {
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: #2B72B8;
  overflow-x: hidden;
  width: 150px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  word-wrap: inherit;
  box-shadow: 0 5px 5px 0 gray;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

#contender-container-title {
  width: 150px;
  min-height: 30px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
  box-shadow: 0 0 3px 0 gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFCB05;
  z-index: 2;
}

#contender-container h2 {
  font-size: 1rem;
}

#contender-list{
  overflow-y: auto;
  z-index: 1;
}

#contender-list::-webkit-scrollbar {
  width: 3px;        /* width of the entire scrollbar */
}

#contender-list::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

#contender-list::-webkit-scrollbar-thumb {
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}

.contender {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-bottom: 1px solid gray; */
}

.contender-name {
  margin-top: 5px;
  color: #FFCB05;
  font-weight: bold;
  text-shadow: 0 0 2px gray;
  text-transform: uppercase;
}

.contender-sprite {
  position: absolute;
}

.contender-btn-container {
  display:flex;
  justify-content:space-around;
}

.contender-btn-container button {
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 49%;
  font-size: 1rem;
  font-weight: bold;
  line-height: .5rem;
  color: black;
}

.z-index {
  z-index: 1;
}

#past-contenders-container {
  width: 50px;
  height: 600px;
  position: fixed;
  left: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

#past-contenders-container::-webkit-scrollbar {
  width: 0px;        /* width of the entire scrollbar */
}

#past-contenders-container img{
  width: 55px;
  z-index: 0;
}
/* =================BATTLE STYLING==================================================================== */
#battle-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#battle-arena {
  position: relative;
  display: flex;
  flex-grow: 1;
}

#battle-arena h2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  font-weight: bold;
  font-size: 4rem;
  color: rgb(231, 43, 43);
}

.arena-contender {
  width: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#arena-contender1 img {
  width: 200px;
}

#arena-contender2 img {
  width: 120px;
}

#battle-footer {
  height: 100px;
  justify-self: flex-end;
}

/* ==================RESULTS STYLING===================================================================== */
#results-container {
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  overflow-x: hidden;
  width: 150px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  word-wrap: inherit;
  box-shadow: 0 5px 5px 0 gray;
  padding-top: 30px;
}