@font-face {
  font-family: 'Pokemon Hollow';
  src: url(./fonts/Pokemon\ Hollow.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: block
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url(./fonts/Pokemon\ Solid.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: block
}

*   {
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-image: url('https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png');
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pokemon Hollow', sans-serif;
}

header svg {
  width: 400px;
  position: relative;
  top: 35px;  
}

main {
  display: flex;
  overflow: hidden;
}

/* ================CONTENDER SECTION========================================================================== */
#contender-container {
  background-color: rgba(255, 255, 255, 0.3);
  overflow-y: auto;
  width: 150px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  word-wrap: inherit;
  box-shadow: 0 5px 5px 0 gray;
}

#contender-container::-webkit-scrollbar {
  width: 3px;               /* width of the entire scrollbar */
}

#contender-container::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

#contender-container::-webkit-scrollbar-thumb {
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}

#contender-container h2 {
  font-size: 1rem;
}
